<p id="notice"><%= notice %></p>

<div class="fixed-action-btn">
  <a href="<%= new_recipe_path %>" class="btn-floating btn-large orange">
    <i class="material-icons">add</i>
  </a>
</div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h2 class="header center orange-text">Listing Recipes</h2>
  </div>
</div>
<div class="row">

  <% @recipes.each do |recipe| %>  
    <div class="col s12 m4">

      <div class="card grey lighten-4">  
        <div class="card-content">
          <span class="card-title truncate"><%= recipe.name %></span>
        </div>

        <div class="card-action">
          <a><%= link_to 'Show', recipe %></a>
          <a><%= link_to 'Edit', edit_recipe_path(recipe) %></a>
          <a><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></a>
        </div>
      </div>
    </div>
  <% end %> 

</div>
