<p id="notice"><%= notice %></p>

<h1>Results</h1>

<h4>Your shits : </h4>
<ul>
<% @ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
<% end %>
</ul>

<!-- Export this in helper -->
<% recipes_string = @recipes.count > 1 ? 'recipes' : 'recipe' %>

<h4>Our <%=@recipes.count %> awesome <%= recipes_string %> : </h4>
<ul>
<% @recipes.each do |recipe| %>
  <li><%= link_to recipe.name, recipe %></li>
<% end %>
</ul>
