<!DOCTYPE html>
<p id="notice"><%= notice %></p>

<p>
<h4 class="orange-text">Name</h4>
<%= @recipe.name %>
</p>
<br>

<p>
<h4 class="orange-text">Ingredients</h4>
<% @recipe.ingredients.each do |ingredient| %>
  <div class="chip"><%= link_to ingredient.name, ingredient %> </div>
  <!-- - <%= link_to ingredient.name, ingredient %><br /> -->
<% end %>
</p>
<br><br><br><br>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', :back %>
