<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= form_for(@ingredient) do |f| %>
      <% if @ingredient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

          <ul>
            <% @ingredient.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: :name %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn waves-effect waves-light orange"%>
        <br><br><br><br>
        <%= link_to "Back", ingredients_path, class: "btn waves-effect waves-light orange" %>
        <br><br><br><br>
      </div>
    <% end %>
  </div>
</div>
